body {
    width: 600px;
    font-family: Lucida sans;
    margin: 0 auto;
    color: #00376c;   
}


header {
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
    border-bottom: solid 6px;
    border-color: #7b7b7b;
    line-height: 80px;
 }


.services section p, footer {
    font-style: italic;
}


h2 {
    border-bottom: solid 2px ;
    border-color: #7b7b7b;
    text-align: center;
}


h3 {
    color: #1577ff;
    border-bottom: solid 2px;
    border-color: #1577ff;
    display: inline;
}


.story, .services, .locations {
    padding: 10px 15px ; 
    margin-bottom: 40px; 
    background-color: #e7e7e7;
}



footer {
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
    padding: 10px;
}


footer img {
    width: 150px; 
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

a {
    text-decoration: none;
    color: #00376c;
}


a:hover {
    text-decoration: underline;
}